[user]
    name = Abel Sen
    email = 19356702+neuroevolutus@users.noreply.github.com
[core]
    editor = kak
    filemode = false
	quotepath = off
[alias]
    cm = commit
    co = checkout
    mg = merge
    nb = branch -b
    ps = push
    rv = revert
    st = status
[credential]
    helper = cache --timeout=900
