[user]
    name = Abel Sen
    email = 19356702+neuroevolutus@users.noreply.github.com
[core]
	editor = subl -n -w
    filemode = false
	quotepath = off
[merge]
	tool = smerge
[alias]
    cm = commit
    co = checkout
    mg = merge
    nb = branch -b
    ps = push
    rv = revert
    st = status
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[mergetool "smerge"]
	cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
